.container {
    padding-top: 1rem;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
  }
  .container .block {
    margin-bottom: 1rem;
  }
  .container .logo {
    text-align: center;
  }
  .container .logo img {
    margin-bottom: 0.3rem;
  }
  .container .htmlblock .html {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: #f1f1f1;
    max-height: 10rem;
    overflow: auto;
  }

  .link-active
  {
font-weight: bold;
  }