<article class="markdown-body entry-content" itemprop="text">
    <h1>
        Angular Rich Text Editors</h1>
    <p>This repo includes samples for some Rich Text Editors that exist. They include</p>
    <ul>
        <li>
            <a href="https://github.com/dimpu/ngx-md" target="_blank">Markdown Based</a>
        </li>
        <li>
            <a href="https://github.com/Sibiraj-S/ngx-editor" target="_blank">NGX-Editor</a>
        </li>
        <li>
            <a href="https://github.com/froala/angular-froala-wysiwyg" target="_blank">Froala</a>
        </li>
        <li>
            <a href="https://github.com/KillerCodeMonkey/ngx-quill" target="_blank">Quill</a>
        </li>
        <li>
            <a href="https://github.com/siegerx3/angular-tinymce" target="_blank">TinyMCE</a>
        </li>
        <li>
            <a href="https://github.com/chymz/ng2-ckeditor" target="_blank">CKEditor</a>
        </li>
    </ul>
    <p>While most of these modules were written in Angular 2.x, this repo is an Angular 5.x repo, so YMMV on functionality you
        need for each editor</p>
</article>